@inject VasarlokClient Client
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


<div class="modal fade" id="@GetModalId(Vasarlo)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">@title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary megse" data-bs-dismiss="modal">Mégsem</button>
        <button type="button" class="btn btn-primary torles" data-bs-dismiss="modal" @onclick="ConfirmAsync">Törlés</button>
      </div>
    </div>
  </div>
</div>
<style>
  .torles {
       color: white;
       background-color: red;
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
   }
   .megse {
       color: white;
       background-color: blue;
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
   }
    .modal-content {

        color: red;
        background-image: url('/hatter.jpg');
        text-shadow: 2px 2px 4px rgba(248, 5, 5, 0.7);
        text-align: center;
    }
  </style>

@code {
  [Parameter]
  public VasarlokSummary? Vasarlo { get; set; }

  private string title = string.Empty;

  protected override void OnParametersSet()
  {
    title = $"Biztos törli a \"{Vasarlo?.Nev}\" vásárlót?";
       
  }
  public static string GetModalId(VasarlokSummary? vasarlo)
  {
    ArgumentNullException.ThrowIfNull(vasarlo);
    return $"deleteModal-{vasarlo.Vasarlo_ID}";
  }

  private async Task ConfirmAsync()
  {
    await Client.DeleteVasarloAsync(Vasarlo!.Vasarlo_ID);
    NavigationManager.Refresh();
  }
}
