@inject VasarlokClient Client
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


<div class="modal fade" id="@GetModalId(Vasarlo)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">@title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="ConfirmAsync">Delete</button>
      </div>
    </div>
  </div>
</div>

@code {
  [Parameter]
  public VasarlokSummary? Vasarlo { get; set; }

  private string title = string.Empty;

  protected override void OnParametersSet()
  {
    title = $"Biztos törli a \"{Vasarlo?.Nev}\" vásárlót?";
       
  }
  public static string GetModalId(VasarlokSummary? vasarlo)
  {
    ArgumentNullException.ThrowIfNull(vasarlo);
    return $"deleteModal-{vasarlo.Vasarlo_ID}";
  }

  private async Task ConfirmAsync()
  {
    await Client.DeleteVasarloAsync(Vasarlo!.Vasarlo_ID);
    NavigationManager.Refresh();
  }
}
