@page "/editgame"
@page "/editgame/{Id:int}"

@rendermode InteractiveServer

@using GameStore.Frontend.Models
@using GameStore.Frontend.Clients

@inject NavigationManager NavigationManager
@inject TermekekClient TermekekClient

<PageTitle>@title</PageTitle>
<h3>@title</h3>
@if (termek is null)
{
    <p><em>Betöltés...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@termek" FormName="editGame" OnValidSubmit="HandleSubmitAsync" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="mb-3">
                    <label for="name" class="form-label">Cim:</label>
                    <InputText id="name" class="form-control" @bind-Value="termek.Cim" />
                    <ValidationMessage For="() => termek.Cim" />
                </div>
                <div class="mb-3">
                    <label for="leiras" class="form-label">Leiras:</label>
                    <InputText id="leiras" class="form-control" @bind-Value="termek.leiras" />
                    <ValidationMessage For="() => termek.leiras" />
                </div>
                <div class="mb-3">
                    <label for="korhatarBesorolas" class="form-label">Korhatar besorolas:</label>
                    <InputText id="korhatarBesorolas" class="form-control" @bind-Value="termek.korhatar_besorolas" />
                    <ValidationMessage For="() => termek.korhatar_besorolas" />
                </div>
                <div class="mb-3">
                    <label for="platform" class="form-label">Platform:</label>
                    <InputText id="platform" class="form-control" @bind-Value="termek.Platform" />
                    <ValidationMessage For="() => termek.Platform" />
                </div>
                <div class="mb-3">
                    <label for="kiado" class="form-label">Kiado:</label>
                    <InputText id="kiado" class="form-control" @bind-Value="termek.Kiado" />
                    <ValidationMessage For="() => termek.Kiado" />
                </div>
                <div class="mb-3">
                    <label for="releaseDate" class="form-label">Release Date:</label>
                    <InputDate id="releaseDate" class="form-control" @bind-Value="termek.megjelenesi_datum" />
                </div>
                <div class="mb-3">
                    <label for="mufaj" class="form-label">Mufaj:</label>
                    <InputText id="mufaj" class="form-control" @bind-Value="termek.Mufaj" />
                    <ValidationMessage For="() => termek.Mufaj" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" class="form-control" @bind-Value="termek.ar" />
                    <ValidationMessage For="() => termek.ar" />
                </div>
                <div class="mb-3">
                    <label for="akciosAr" class="form-label">Akcios ar:</label>
                    <InputNumber id="akciosAr" class="form-control" @bind-Value="termek.akcios_ar" />
                    <ValidationMessage For="() => termek.akcios_ar" />
                </div>
                <div class="mb-3">
                    <label for="raktarKeszlet" class="form-label">raktarkeszlet:</label>
                    <InputNumber id="raktarKeszlet" class="form-control" @bind-Value="termek.Raktarkeszlet" />
                    <ValidationMessage For="() => termek.Raktarkeszlet" />
                </div>
                <button type="submit" class="btn btn-primary">Mentés</button>
                <a role="button" class="btn btn-secondary" href="/termekek">Mégse</a>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter]
    public int? Id { get; set; }
    [SupplyParameterFromForm]
    private TermekekSummary? termek { get; set; }
    
    private string title = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        if (termek is not null)
        {
            return;
        }

        if (Id is not null)
        {
            termek = await TermekekClient.GettermekAsync(Id.Value);
            title = $" {termek.Cim} Szerkeztése.";
        }
        else
        {
            termek = new()
            {
                Cim = string.Empty,
                megjelenesi_datum = DateTime.UtcNow
            };
            title = "új játék létrehozása";
        }
    }

    private async Task HandleSubmitAsync()
    {
        ArgumentNullException.ThrowIfNull(termek);

        if (Id is null)
        {
            await TermekekClient.AddtermekAsync(termek);
        }
        else
        {
            termek.Jatek_ID = Id.Value;
            await TermekekClient.UpdatetermekAsync(termek);
        }
        
        NavigationManager.NavigateTo("/termekek");
    }
}
