@page "/"

<PageTitle>Főmenü</PageTitle>

<div class="d-flex gap-2 py-3">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Termékek</h5>
            <p class="card-text">Itt találhatod meg a játékokat</p>
            <a href="/termekek" class="btn btn-primary">Termékek megnyitása</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Vásárlók</h5>
            <p class="card-text">Itt meg tudod nézni a vásárlókat</p>
            <a href="/vasarlok" class="btn btn-primary">Vásárlók megnyitása</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Rendelések</h5>
            <p class="card-text">Itt meg tudod nézni ki mit rendelt</p>
            <a href="/rendelesek" class="btn btn-primary">Rendelések megnyitása</a>
        </div>
    </div>
</div>